:root {
  --color1: #efb6b2;
  --color2: #4e4e4e;
  --error: #ff4a4a;
}
.home {
  padding-top: 1rem !important;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
body {
  font-family: "Noto Serif", serif;
  color: var(--secondary);
}
.loader {
  position: absolute;
  top: 30%;
  left: 43%;
}
